<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>app_name</key>
<string>快快贷理财</string>
<key>kkd_login</key>
<string>登录</string>
<key>title_activity_phone_register</key>
<string>PhoneRegisterActivity</string>
<key>title_activity_phone_verification_code</key>
<string>PhoneVerificationCodeActivity</string>
<key>title_activity_register</key>
<string>RegisterActivity</string>
<key>title_activity_registernext</key>
<string>RegisterNextActivity</string>
<key>title_activity_login</key>
<string>LoginActivity</string>
<key>title_activity_welcome</key>
<string>WelcomeActivity</string>
<key>title_activity_account_setting</key>
<string>AccountSettingActivity</string>
<key>title_activity_gesture</key>
<string>GestureActivity</string>
<key>title_activity_with</key>
<string>WithActivity</string>
<key>title_activity_particulars</key>
<string>ParticularsActivity</string>
<key>title_activity_condition</key>
<string>ConditionActivity</string>
<key>title_activity_risk</key>
<string>RiskActivity</string>
<key>title_activity_predict</key>
<string>PredictActivity</string>
<key>title_activity_tender</key>
<string>TenderActivity</string>
<key>title_activity_true_idverify</key>
<string>TrueIDVerifyActivity</string>
<key>title_activity_add_bank</key>
<string>AddBankActivity</string>
<key>title_activity_my_block</key>
<string>MyBlockActivity</string>
<key>title_activity_set_deal</key>
<string>SetDealActivity</string>
<key>title_activity_tender_affirm</key>
<string>TenderAffirmActivity</string>
<key>title_activity_information</key>
<string>InformationActivity</string>
<key>title_activity_tender_detail</key>
<string>Tender_detailActivity</string>
<key>title_activity_withdraw</key>
<string>WithdrawActivity</string>
<key>title_activity_recharge</key>
<string>RechargeActivity</string>
<key>title_activity_deal_details</key>
<string>DealDetailsActivity</string>
<key>title_activity_treaty_activiyt</key>
<string>TreatyActiviyt</string>
<key>title_activity_withdraw_update</key>
<string>WithdrawUpdateActivity</string>
<key>title_activity_udapte_withdraw_succeed</key>
<string>UdapteWithdrawSucceedActivity</string>
<key>title_activity_update_login</key>
<string>UpdateLoginActivity</string>
<key>title_activity_card_type</key>
<string>CardTypeActivity</string>
<key>title_activity_every_day_tender</key>
<string>EveryDayTenderActivity</string>
<key>title_activity_accoun_everyday</key>
<string>AccounEverydayActivity</string>
<key>title_activity_everyday_deal_details</key>
<string>EverydayDealDetailsActivity</string>
<key>title_activity_everyday__withdraw</key>
<string>Everyday_WithdrawActivity</string>
<key>title_activity_every_day_particulars</key>
<string>EveryDayParticularsActivity</string>
<key>title_activity_evety_day_join_record</key>
<string>EvetyDayJoinRecordActivity</string>
<key>title_activity_baby_particulars</key>
<string>BabyParticularsActivity</string>
<key>title_activity_two_dimension</key>
<string>TwoDimensionActivity</string>
<key>title_activity_my_recommend_friend</key>
<string>MyRecommendFriendActivity</string>
<key>title_activity_manage_award</key>
<string>ManageAwardActivity</string>
<key>title_activity_two_friends</key>
<string>TwoFriendsActivity</string>
<key>title_activity_vertical_information</key>
<string>VerticalInformationActivity</string>
<key>title_activity_my_discount_coupon</key>
<string>MyDiscountCouponActivity</string>
<key>title_activity_check_main_url</key>
<string>CheckMainUrlActivity</string>
<key>title_activity_repayment_schedule</key>
<string>RepaymentScheduleActivity</string>
<key>title_activity_tender_affirm_discount_coupon</key>
<string>TenderAffirmDiscountCouponActivity</string>
<key>title_activity_withdraw_discount_counpon</key>
<string>WithdrawDiscountCounponActivity</string>
<key>title_activity_credit_particulars</key>
<string>CreditParticularsActivity</string>
<key>title_activity_repayment_result</key>
<string>RepaymentResultActivity</string>
<key>title_activity_overdue_repayment</key>
<string>OverdueRepaymentActivity</string>
<key>title_activity_wxentry</key>
<string>WXEntryActivity</string>
<key>xlistview_header_hint_normal</key>
<string>下拉刷新</string>
<key>xlistview_header_hint_ready</key>
<string>释放刷新</string>
<key>xlistview_header_hint_loading</key>
<string>正在更新</string>
<key>xlistview_header_last_time</key>
<string>上次更新时间：</string>
<key>xlistview_footer_hint_normal</key>
<string>查看更多</string>
<key>xlistview_footer_hint_ready</key>
<string>松开载入更多</string>
<key>homeactivity_exit</key>
<string>再按一次退出程序</string>
<key>loginactivity_userName</key>
<string>用户名不能为空</string>
<key>loginactivity_password</key>
<string>登录密码不能为空</string>
<key>accountSettingActivity_unbindingState</key>
<string>立即认证</string>
<key>accountSettingActivity_bindingState</key>
<string>已认证</string>
<key>accountSettingActivity_updatepssword</key>
<string>修改</string>
<key>accountSettingActivity_setpssword</key>
<string>设置</string>
<key>registerActivity_button</key>
<string>两次输入密码不一致</string>
<key>trueIDVerifyActivity_name</key>
<string>真实姓名不能为空</string>
<key>trueIDVerifyActivity_card</key>
<string>身份号不能为空</string>
<key>about_title</key>
<string>关于</string>
<key>no_content_poi</key>
<string>暂无投标记录，赶快去投标吧~</string>
<key>abnormal</key>
<string>网络异常</string>
<key>phone_mistake</key>
<string>您输入的推荐人手机号不正确</string>
<key>phone_on</key>
<string>请输入正确的手机号</string>
<key>obligate_phone</key>
<string>请输入正确的手机号</string>
<key>recommend_phone</key>
<string>推荐人手机号不能与该注册手机号相同</string>
<key>password_lenght</key>
<string>密码长度不能小于6位</string>
<key>new_password</key>
<string>输入的新密码格式不符合要求</string>
<key>update_ok</key>
<string>修改成功</string>
<key>unwrap_ok</key>
<string>解绑成功</string>
<key>recharge_ok</key>
<string>充值成功</string>
<key>astrict</key>
<string>不得低于50元</string>
<key>not_sufficient_funds</key>
<string>您的余额不足，请充值!</string>
<key>investment_no</key>
<string>您输入的投资金额有误</string>
<key>cardid_no</key>
<string>您的银行卡号不能为空</string>
<key>select_card</key>
<string>请选择银行卡类型</string>
<key>regular</key>
<string>首页</string>
<key>invest</key>
<string>投资</string>
<key>find</key>
<string>福利</string>
<key>wallet</key>
<string>账户</string>
<key>wallet_my</key>
<string>我的</string>
<key>lable_recommend</key>
<string>理财推荐</string>
<key>lable_notice</key>
<string>活动公告</string>
<key>signed</key>
<string>已签</string>
<key>sign</key>
<string>签到</string>
<key>auth_now</key>
<string>立即认证</string>
<key>share_wechat</key>
<string>微信</string>
<key>share_friend</key>
<string>朋友圈</string>
<key>share_webo</key>
<string>微博</string>
<key>share_qq</key>
<string>QQ</string>
<key>user_login</key>
<string>登 录</string>
<key>quick_register</key>
<string>快速注册</string>
<key>login_password</key>
<string>密码</string>
<key>reset_psw</key>
<string>忘记密码</string>
<key>phone</key>
<string>手机号码</string>
<key>tender_detail</key>
<string>投标记录</string>
<key>reset_psw_hint_format</key>
<string>密码由6-16位数字、字母组成</string>
<key>about_hot_line</key>
<string>客服热线:4000-137-000 (9:00~21:00)</string>
<key>about_qq</key>
<string>客服QQ群:</string>
<key>about_qq1</key>
<string>557629895</string>
<key>about_email</key>
<string>客服邮箱:kkdai@kkdai.com.cn</string>
<key>about_webset</key>
<string>官方网站:www.kuaikuaidai.com</string>
<key>id_name</key>
<string>持卡人姓名</string>
<key>id_number_hint</key>
<string>身份证号码</string>
<key>id_verify_warning</key>
<string>• 根据监管要求，在您投资前需要完成实名认证。</string>
<key>id_verify_warning2</key>
<string>• 认证成功之后将不能更换账号的实名认证信息。</string>
<key>tender</key>
<string>投标</string>
<key>everydaty_tender</key>
<string>认购</string>
<key>recharge</key>
<string>充值</string>
<key>pattent_lock_forget</key>
<string>忘记手势密码</string>
<key>pattent_lock_other_login</key>
<string>其它账户登录</string>
<key>password_reset</key>
<string>密码重置成功</string>
<key>withdrawpassword_on</key>
<string>您输入的密码格式不符合</string>
<key>my_everyday</key>
<string>我的天天赚</string>
<key>network_anomaly</key>
<string>网络异常，请您检查网络状态！</string>
<key>network_anomalys</key>
<string>网络连接失败！</string>
<key>coupon_null</key>
<string>共0张可用</string>
<key>withdrawps_ed_hint</key>
<string>请输入提现密码</string>
<key>withdrawmoney_ed_hint</key>
<string>提现金额不得低于0.01元</string>
<key>rechargemoney_ed_hint</key>
<string>充值金额不得低于2元</string>
<key>rechargecode_ed_hint</key>
<string>请输入您的验证码</string>
<key>everydaywithdraw_ed_hint</key>
<string>转出金额不得低于0.01元</string>
<key>withrawupps_name_ed_hint</key>
<string>请输入您的姓名</string>
<key>withrawupps_identity_ed_hint</key>
<string>请输入您的身份证号码</string>
<key>withrawupps_code_ed_hint</key>
<string>请输入您的验证码</string>
<key>pdateloginwornps_ed_hint</key>
<string>请输入旧登录密码</string>
<key>pdateloginnewps_ed_hint</key>
<string>密码由6-16位字母、数字组成</string>
<key>updateloginaffirmnewps_ed_hint</key>
<string>请再次输入确认</string>
<key>calculatemoney_ed_hint</key>
<string>请输入投资金额</string>
<key>everydaytendermoney_ed_hint</key>
<string>不得低于50元</string>
<key>title_activity_prepayment</key>
<string>PrepaymentActivity</string>
<key>note_message</key>
<string>验证码已发送到手机</string>
<key>note_bid</key>
<string>风险提示及相关协议说明：快快贷理财作为该产品的网络平台，不参与投资，不承担风险，仔细阅读《风险提示书》、《借款协议》等</string>
<key>bindcard</key>
<string>温馨提示：应存管要求，您在江西银行开设的存管电子账户每次最多只能绑定一张卡，只有余额和待收金额同时为零时，才可以解绑银行卡</string>
<key>set_pattern_title</key>
<string>设置解锁图案</string>
<key>confirm_pattern_title</key>
<string>确认解锁图案</string>
<key>pl_cancel</key>
<string>取消</string>
<key>pl_confirm</key>
<string>确认</string>
<key>pl_confirm_pattern</key>
<string>请再次绘制手势密码</string>
<key>pl_continue</key>
<string>继续</string>
<key>pl_draw_pattern</key>
<string>为了您的账户安全，请设置手势密码</string>
<key>pl_draw_pattern_to_unlock</key>
<string>绘制图案以解锁</string>
<key>pl_draw_pattern_to_update</key>
<string>请输入原来的密码</string>
<key>pl_pattern_confirmed</key>
<string>您的新解锁图案</string>
<key>pl_pattern_recorded</key>
<string>已记录图案</string>
<key>pl_pattern_too_short</key>
<string>至少连接 %d 个点，请重画</string>
<key>pl_redraw</key>
<string>重画</string>
<key>pl_wrong_pattern</key>
<string>与上次绘制不一致，请重新绘制</string>
<key>pl_wrong_newpassword</key>
<string>请输入新的密码</string>
<key>viewpager_indicator</key>
<string>%1$d/%2$d</string>
<key>title_activity_my_happy_bi</key>
<string>MyHappyBiActivity</string>
<key>title_activity_about_happy_bi</key>
<string>AboutHappyBiActivity</string>
<key>title_activity_happy_bi_record</key>
<string>HappyBiRecordActivity</string>
<key>title_activity_in_the_bidding</key>
<string>InTheBiddingActivity</string>
<key>title_activity_regular_particulars</key>
<string>RegularParticularsActivity</string>
<key>title_activity_current_tender</key>
<string>CurrentTenderActivity</string>
<key>title_activity_experience_particulars</key>
<string>ExperienceParticularsActivity</string>
<key>title_activity_my_total_assets</key>
<string>MyTotalAssetsActivity</string>
<key>title_activity_my_income</key>
<string>MyIncomeActivity</string>
<key>title_activity_my_current</key>
<string>MyCurrentActivity</string>
<key>title_activity_my_experience_gold</key>
<string>MyExperienceGoldActivity</string>
<key>title_activity_experience_gold_detail</key>
<string>ExperienceGoldDetailActivity</string>
<key>title_activity_balance</key>
<string>BalanceActivity</string>
<key>title_activity_what_is_apiggy_bank</key>
<string>WhatIsAPiggyBankActivity</string>
<key>title_activity_my</key>
<string>MyActivity</string>
<key>title_activity_personal_information</key>
<string>PersonalInformationActivity</string>
<key>title_activity_modify_pass_word</key>
<string>ModifyPassWordActivity</string>
<key>title_activity_my_happy_bi_new</key>
<string>MyHappyBiNewActivity</string>
<key>title_activity_feedback</key>
<string>FeedbackActivity</string>
<key>title_activity_my_happy_bi_detail</key>
<string>MyHappyBiDetailActivity</string>
<key>title_activity_image_bucket_choose</key>
<string>ImageBucketChooseActivity</string>
<key>title_activity_image_zoom</key>
<string>ImageZoomActivity</string>
<key>title_activity_image_choose</key>
<string>ImageChooseActivity</string>
<key>title_activity_my_regular</key>
<string>MyRegularActivity</string>
<key>title_activity_my_plan</key>
<string>MyPlanActivity</string>
<key>title_activity_history</key>
<string>HistoryActivity</string>
<key>title_activity_my_happy_bi_no_record</key>
<string>MyHappyBiNoRecordActivity</string>
<key>title_activity_find_active_more</key>
<string>FindActiveMoreActivity</string>
<key>title_activity_reset_psw_step</key>
<string>ResetPswStepActivity</string>
<key>title_activity_how_to_experience</key>
<string>HowToExperienceActivity</string>
<key>title_activity_how_to_happy_coin</key>
<string>HowToHappyCoinActivity</string>
<key>title_activity_how_to_repayment</key>
<string>HowToRepaymentActivity</string>
<key>title_activity_supportbank</key>
<string>SupportbankActivity</string>
<key>title_activity_withdraw_success_tip</key>
<string>WithdrawSuccessTipActivity</string>
<key>title_activity_bid_details</key>
<string>BidDetailsActivity</string>
<key>title_activity_evert_day_dteail</key>
<string>EvertDayDteailActivity</string>
<key>title_activity_gesture_verify</key>
<string>GestureVerifyActivity</string>
<key>title_activity_set_up</key>
<string>SetUpActivity</string>
<key>cancel</key>
<string>取消</string>
<key>hello_world</key>
<string>Hello world!</string>
<key>errcode_success</key>
<string>发送成功</string>
<key>errcode_cancel</key>
<string>发送取消</string>
<key>errcode_deny</key>
<string>发送被拒绝</string>
<key>errcode_unknown</key>
<string>发送返回</string>
<key>title_activity_finish_before_tender</key>
<string>FinishBeforeTenderActivity</string>
<key>title_activity_text_pin</key>
<string>TextPinActivity</string>
<key>title_activity_sign</key>
<string>SignActivity</string>
<key>title_activity_financial_plan_condition</key>
<string>FinancialPlanConditionActivity</string>
<key>title_activity_sign_rule</key>
<string>SignRuleActivity</string>
<key>title_activity_my_matching_record</key>
<string>MyMatchingRecordActivity</string>
<key>title_activity_my_plan_agreement</key>
<string>MyPlanAgreementActivity</string>
<key>title_activity_live_home</key>
<string>LiveHomeActivity</string>
<key>title_activity_to_enjoy_tender_success</key>
<string>ToEnjoyTenderSuccessActivity</string>
<key>title_activity_my_regular_debt</key>
<string>MyRegularDebtActivity</string>
<key>title_activity_debt_exchange</key>
<string>DebtExchangeActivity</string>
<key>title_activity_creditor_is_rights_particulars</key>
<string>CreditorIsRightsParticularsActivity</string>
<key>title_activity_debt_success</key>
<string>DebtSuccessActivity</string>
<key>title_activity_creditor_is_rights_tender_affirm</key>
<string>CreditorIsRightsTenderAffirmActivity</string>
<key>title_activity_my_debt_detail</key>
<string>MyDebtDetailActivity</string>
<key>title_activity_creditor_is_rights_tender_affirm_success</key>
<string>CreditorIsRightsTenderAffirmSuccessActivity</string>
<key>title_activity_happy_money_buy</key>
<string>HappyMoneyBuyActivity</string>
<key>title_activity_my_happy_coin</key>
<string>MyHappyCoinActivity</string>
<key>title_activity_my_head_portrait</key>
<string>MyHeadPortraitActivity</string>
<key>title_activity_calendar</key>
<string>CalendarActivity</string>
<key>title_activity_nickname</key>
<string>NicknameActivity</string>
<key>title_activity_account_security</key>
<string>AccountSecurityActivity</string>
<key>title_activity_bind_bank_card</key>
<string>BindBankCardActivity</string>
<key>title_activity_kkdjiang_xi_web</key>
<string>KKDJiangXiWebActivity</string>
<key>title_activity_quickinallactivity</key>
<string>QuickInAllActivity</string>
<key>title_activity_myprivilegeActivity</key>
<string>MyPrivilegeActivity</string>
<key>title_activity_assetsDetailsActivity</key>
<string>AssetsDetailsActivity</string>
<key>RMB</key>
<string>¥</string>
<key>bottom_instruction</key>
<string>银行存管已接入,资金安全再升级</string>
<key>Risk_warning</key>
<string>法大大采用由国家认可的权威、可信、公正的第三方机构CFCA（中国金融认证中心 China Financial Certification Authority）颁发的CA数字证书，实现了用户身份认证与电子信息加密，也获得了法律的保护与约束，使得网络世界中互不见面的借贷人也可轻松建立安全可靠的信任关系。</string>
<key>expected_return</key>
<string>协议年利率</string>
<key>kuai_yi_bao</key>
<string>快易宝</string>
<key>house_bao_bao</key>
<string>房宝宝</string>
</dict>
</plist>
